@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RecipeIndex">Click here to search recipes!</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FavoritesIndex">Click here to view your favorites!</a>
    </li>
</ul>